scikit-learn==1.5.2
# old version: python-fasthtml==0.8.0
python-fasthtml==0.12.24
matplotlib==3.9.2
# old version: scipy==1.14.1
scipy==1.16.1
# old version: numpy==2.1.2
numpy==2.3.2
# old version: 2.2.3
pandas==2.3.2
pytest
flake8
ipython
